# Node
node_modules/
dist/
build/
.pnp.*
.pnpm-store/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm
pnpm-debug.log*

# Flutter
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Misc
.idea/
.vscode/
